//bootstrap style file
@use 'node_modules/bootstrap/scss/bootstrap.scss' as *;

//font face
@use "../fonts/font-face.css" as *;

body {
  font-family: NotoSerif-Regular;

  .cursor-pointer {
    cursor: pointer;
  }

  .breadcrumb-item {
    font-size: .8em;
    a {
      color: #A7A7A7;
    }
  }

  .menu-bar-wrapper {
    background-color: black;
    font-size: 1.2em;

    .menu-bar-item {
      a {
        color: white;
        &.router-link-active {
          border-bottom: 2px solid white;
          font-weight: bold;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: NotoSerif-Bold;
  }

  .font-size-8 {
    font-size: .8em;
  }

  .story-default-btn {
    background-color: black;
    color: white;
    border: none;
    
    &:hover {
      background-color: #333;
    }
  }
}
